{% extends 'base.html' %} {% block content %}

<div style="border: 2px solid #000;">
    <h1>This is th body</h1>
    <p>Here is where you put stuff that should be in the body of your websites.</p>

    <!-- <p>{{ some_string }} </p>
    <p>{{ some_number }}</p> -->

    <!-- <p> {% for list_item in list_of_values %} {{ list_item }}<br> {% endfor %} </p>
    {% include "personal/snippets/body_snippet.html" %} -->

    <!-- <p> {% for list_item in list_of_values %} {% include "personal/snippets/body_snippet.html" with value=list_item %} {% endfor %} </p> -->

    <p> {% for question in questions %} {% include "personal/snippets/body_snippet.html" with value=question %} {% endfor %} </p>


</div>
{% endblock content %}